.abc-title_size_normal-compressed {
  font-size: 72px;
  line-height: 76px;
}

@media screen
  and (max-width: 1024px) {
.abc-title_size_normal-compressed {
  font-size: 72px;
  line-height: 76px;
  }
}

@media screen
  and (min-width: 769px) {
.abc-title_size_normal-compressed {
  font-size: 42px;
  line-height: 46px;
  }
}

@media screen and (max-width: 375px) {
.abc-title_size_normal-compressed {
  font-size: 32px;
  line-height: 35px;
  }
}
