.places__diff {
  margin: 75px 0px 0px;
}

.places__diff:first-child {
  margin-top: 0px;
}

@media screen
  and (max-width: 1024px)
  and (min-width: 376px) {
.places__diff {
  margin: 83px 0px 0px;
  }
}

@media screen and (max-width: 375px) {
.places__diff {
  margin: 55px 0px 0px;
  }
}
