.places__paragraph {
  margin: 1.33em 0px 0px 0px;
  font-size: 18px;
  line-height: 1.63;
}

.places__paragraph:first-child {
  margin-top: 0px;
  }

@media screen and (max-width: 711px) {
.places__paragraph {
  margin-top: 23px;
  font-size: 16px;
  }

.places__paragraph:first-child {
  margin-top: 14px;
  }
}
