.places__paragraph {
  margin: 0px 0px 25px;
  font-size: 18px;
  line-height: 1.63;
}

.places__paragraph:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 769px) {
.places__paragraph {
  font-size: 16px;
 }
}


