.places__image {
  width: 100%;
  flex-grow: 1;
  max-height: 460px;
  max-width: 460px;
}

@media screen
  and (max-width: 1024px)
  and (min-width: 769px) {
.places__image {
  max-height: 440px;
  max-width: 440px;
  }
}

@media screen
  and (max-width: 768px)
  and (min-width: 321px) {
.places__image {
  max-height: 340px;
  max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
.places__image {
  max-height: 320px;
  max-width: 320px;
  margin-bottom: 32px;
  }
}
