.places__image {
  width: 100%;
  flex-basis: 460px;
  flex-grow: 1;
  /*max-width: 460px;*/
}

@media screen
  and (max-width: 1024px)
  and (min-width: 769px) {
.places__image {
  /*flex-basis: 440px;*/
  max-width: 440px;
  }
}

@media screen
  and (max-width: 768px)
  and (min-width: 321px) {
.places__image {
  /*flex-basis: 340px;*/
  }
}

@media screen and (max-width: 320px) {
.places__image {
  /*flex-basis: 320;*/
  /*max-width: 320;*/
  }
}
