.travel__cover {
  margin: 95px auto 0px;
}

@media screen
  and (max-width: 1024px)
  and (min-width: 376px)  {
.travel__cover {
  margin-top: 102px;
  }
}

@media screen and (max-width: 375px) {
.travel__cover {
  margin-top: 49px;
  }
}
