.header__logo {
  background-size: contain;
  height: 52px;
  width: 176px;
  background-image: url('../../../images/logo.svg');
}

@media screen and (max-width: 375px) {
.header__logo {
  background-size: contain;
  height: 42px;
  width: 142px;
  }
}
