.cover__paragraph {
  margin: 0;
  padding: 0;
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #ffffff;
}

@media screen
  and (max-width: 425px) {
.cover__paragraph {
  padding: 0 16px 0 16px;
  max-width: 288px;
  font-size: 14px;
  line-height: 16px;
  }
}
