.lead__title {
  margin: 0;
  padding-bottom: 32px;
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  font-family: 'inter', sans-serif;
  text-align: center;
  color: #ffffff;
}

@media screen
  and (max-width: 730px) {
.lead__title {
  font-size: 60px;
  line-height: 70px;
  }
}

@media screen
  and (max-width: 630px) {
.lead__title {
  font-size: 55px;
  }
}

@media screen
  and (max-width: 425px) {
.lead__title {
  padding-bottom: 16px;
  max-width: 288px;
  font-size: 40px;
  line-height: 44px;
  }
}
