.lead__image-wrapper {
  margin: 64px auto 0px;
  max-width: 984px;
}


@media screen and (max-width: 1024px) {
.lead__image-wrapper {
  margin: 56px auto 0px;
  max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
.lead__image-wrapper {
  max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
.lead__image-wrapper {
  margin: 40px auto 0px;
  max-width: 320px;
  }
}

