.lead__image-wrapper {
  margin: 64px 148px 0px;
}

@media screen and (max-width: 1024px) {
.lead__image-wrapper {
  margin: 56px auto 48px;
  max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
.lead__image-wrapper {
  padding: 0;
  }
}

@media screen and (max-width: 320px) {
.lead__image-wrapper {
  margin: 40px auto 0;
  }
}

