@import url('../../blocks/footer/__copyright/footer__copyright.css');
@import url('../../blocks/footer/__link/footer__link.css');

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
