.place__url-heading {
  margin: 0;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  color: #AAAAAA;
}

@media screen
  and (max-width: 768px)
  and (min-width: 426px) {
.place__url-heading {
  line-height: 12px;
  }
}

@media screen
  and (max-width: 425px) {
.place__url-heading {
  padding: 0 16px 12px 0;
  line-height: 12px;
  }
}
