.places__description {
  margin-left: 40px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: calc(50% - 40px);
}

@media screen
  and (max-width: 1024px)
  and (min-width: 769px) {
.places__description {
  margin-left: 32px;
  min-width: calc(49% - 32px);
  }
}

@media screen
  and (max-width: 768px)
  and (min-width: 712px) {
.places__description {
  margin-left: 28px;
  min-width: calc(50% - 28px);
  }
}

@media screen
  and (max-width: 711px) {
.places__description {
  margin-left: 0px;
  min-width: 50%;
  }
}

@media screen
  and (max-width: 320px) {
.places__description {
  padding: 0px 16px;
  }
}
