.places__range_part_header {
  align-items: flex-end;
  margin-bottom: 48px;
}

@media screen and (max-width: 320px) {
.places__range_part_header {
  align-items: flex-start;
  margin-bottom: 32px;
  }
}
